* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    margin: 24px;
    padding: 36px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 10px #00000040;

    gap: 8px;
}

input {
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 8px;
}

input:focus {
    outline: none;
    border: 2px solid #007bff;
    box-shadow: 0 0 5px #007bff40;
}

.btn {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    height: 36px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    font-weight: bold;
    box-shadow: 0 0 5px #0056b340;
}
